
body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: burlywood; */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.c-item{
  height: 300px;
  width: 300px;
  /* position: absolute; */
  /* display: flex; */
} 
.c-img{
   width: auto;
   /* height: auto;
   width: auto;
  object-fit: fill; */

  /* position: relative; */


  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;

}


.c-h5{
  padding: 6px;
}


/* .ads{
  background-color: rgb(230, 133, 6);
}
 */

 .cardAnuncio{
  background-color: azure;
 }